@import "variables.scss";
@import "mixins.scss";


h1{
    color: $dark;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    
    &:hover{
        background-color: $success;
    }

    &-danger{
        background-color: $danger;
        color:$light;
    }

    &-warning{
        background-color: $warning;
        color:$light;
    }
}


h1{
    @include camion(blue)
}

%alert{
    padding: 30px;
    font-size: 20px;
    border: 1px solid $dark;
    color : $light;

}

.alert-danger{
    @extend %alert;
    background : $danger;
}

.alert-warning{
    @extend %alert;
    background : $warning;
}